.main{
    min-height: 100vh;
    background-color: black;
    color:white;
    padding:0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .header-house{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0px 30px;
        margin-bottom: 50px;
    }

    .logo-section{
        margin: 40px 0px;

        img{
            width: 200px;
            height: 220px;
            object-fit: fill;
        }
    }

    .info-section{
        // height: 200px;
        display: flex;
        justify-content: space-around;
        margin: 0px 100px;
    }

    .info-container{
        width: 250px;

        h5{

        }

        p{
            font-size: xx-small;
        }
    }
}




