.c-house-page{
    background-color: black;
    height: 100vh;
}

.c-house-header{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: black;
    height: 10%;

    .back-button-container{
        font-family: "Lato", sans-serif;
    }
}

.c-house-main{
    // min-height: 40vh;
    background-color: black;
    height: 90%;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &__shield-section{
        // height: 250px;
        padding: 30px 0px;
    
        img{
            width: 200px;
            height: 220px;
            object-fit: fill;
        }
    }

    &__info{
        display: flex;
        justify-content: space-around;
        margin: 0px 100px;

        &-box{
            width: 250px;
        }
    }
}





