form{
    background-color: black;
    display: flex;
    justify-content: flex-start;
    
}
input {
    background-color: black;
    border: none;
    border-bottom: 2px solid white;
    width: 788px;
    height: 35px;
    font-size: 24px;
    color: #6c6c6c;
    margin: 40px 156px;
    
}