/* .cont-button{
    background-image: url("https://d1bvpoagx8hqbg.cloudfront.net/originals/bandera-espana-224c725f1e6eaac8ff319d60bae7127f.jpg");
    background-size: cover; 
} */
.spain-button{
    width: 65px;
    height: 45px;
    background-image: url("https://d1bvpoagx8hqbg.cloudfront.net/originals/bandera-espana-224c725f1e6eaac8ff319d60bae7127f.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.spain-button:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px white;
    filter: brightness(130%);
}

.uk-button{
    width: 65px;
    height: 45px;
    background-image: url("https://static8.depositphotos.com/1518767/1030/i/950/depositphotos_10307320-stock-photo-uk-flag.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.uk-button:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px white;
    filter: brightness(130%);
}

.nav-translate{
    display: flex;
    gap: 20px;
    /* padding: 40px 40px 0 20px; */
    /* justify-content: flex-end; */
}