.button1{
    background-image: url("https://cdn.zeplin.io/5e1c73baff24c3be01ba9cca/assets/83cd13fd-5b9b-4894-8846-fb2acd69cd04.svg");
    background-size: cover;
}
.button2{
    background-image: url("https://cdn.zeplin.io/5e1c73baff24c3be01ba9cca/assets/84d2508e-84cb-4ffc-b238-18246c38f2bf.svg");
}
.nav-translate{
    color:white;
}