.form-container{
    padding: 40px 156px;
    background-color: black;
}

.form{
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;

    
    input {
        background-color: black;
        border: none;
        width: 788px;
        height: 35px;
        font-size: 24px;
        color: #6c6c6c;
        // margin: 40px 156px;
        margin-left:3px;
        
        &:focus{
            outline: none;
        }
    }

    img{
        width: 30px;
        height: 30px;
        padding: 2px;
    }
}


