.c-houses-page{
    background-color: black;
    height: 100vh;
}

.c-houses-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    // height: 10vh;
}

.c-houses-main{
    // height: 70vh;
}

.c-nav-houses{
    // height: 18.3vh;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // height: 27.2vh;
    padding-top: 30px;
}