.c-houses-page{
    background-color: black;
    height: 100vh;
}

.c-houses-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

.c-houses-main{
    height: 65%;
}

.c-nav-houses{
    height: 20%;
}