.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 3px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    background-color: black;
    cursor: pointer;

    &:hover{
        transform:scale(1.1);
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.button-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.line{
    background-color: white;
    height: 20px;
    width:4px;

}

.flecha{
    color: white;
    font-weight: 1000;
    font-size: xx-large;
    transform: rotate(90deg);
    margin-left: 3px;
}