
.gallery-houses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    margin: 40px 100px 0 156px;
    gap: 20px;

    a{    
        text-decoration: none;
        text-align: center;
    }
    
}
