.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    margin: 0px 50px 0 150px;
    gap: 25px;
}

.card{
    // width: 248px;
    // height: 320px;
    width: 214px;
    height: 270px;
    position: relative;
    margin: 0;
    text-align: center;

    img{
        // width: 248px;
        // height: 320px;
        width: 214px;
        height: 270px;
    }
}

.card:hover figcaption{
    display: block;
    margin: 0;
}

figcaption{
    display: none;
    position: absolute;
    top: 220px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    a{
        color: white;
        text-decoration: none;
        font-size: 15px;
        margin: 0;
    }
}

