.container{
    width: 100vw;
    height: 100vh;
    background-image: url("https://cdn.zeplin.io/5e1c73baff24c3be01ba9cca/assets/6065c636-48ca-4142-8b36-8fd60a70402b.png");
    background-size: cover;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    /* width: 70%;
    height: 60%; */
    width: 90vw;
    height: 60vh;
    font-size: 130px;
}
.translator-nav{
    /* width: 100vW;
    height: 40vh; */
}
.nav-component{
    width: 100%;
    height: 20%;
    gap:10px;
}