.card-container{
    .image{
        width:150px;
        height: 170px;
        object-fit: fill;
        cursor:pointer;
    }
    
    .house-name{
        color: white;
        width: 180px;
        height: 42px;
        font-size: 0.7rem;
        word-spacing: 6px;
    }
}
