.c-characters-page{
    background-color: black;
    height: 100vh;
}
.c-characters-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.simplebar-wrapper {
    height: 60vh;